language: python

python:
    - "2.7"

before_install:
    - "wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh"
    - "bash miniconda.sh -b -p $HOME/miniconda"
    - "export PATH=$HOME/miniconda/bin:$PATH"
    - "hash -r"
    - "conda config --set always_yes yes --set changeps1 no"
    - "conda update -q conda"
    - "conda info -a"
    - "conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION pip nose atlas numpy scipy matplotlib"
    - "source activate test-environment"
    - "pip install python-coveralls"

install:
    - "pip install -r requirements.txt"

script:
    - "nosetests"

after_success:
    - "coveralls"

notifications:
    slack:
        secure: "gz9jMiDyDT6qO6a7BqHizZ0wV7OpLywJjKHNtUKOLuJdcZkSb+4FDGMZHvwvDbk4lSfu08Rz3zUmu77zsY//9AbzXFrRbFKp236pgXcFVRigvlGahN4QFKuYdd5/OZsaxFudupibPx4nm69iKosgi0DKjahqTwMXnX/1LAQhlXk="

